page-transactions {
    ion-fab{
        bottom:1em;
        right:1em;
        
        button{
            background-color:#222 !important;
            font-size:1.5em !important;
        }
    }
}
